[submodule "dependencies/pytorch3d"]
	path = dependencies/pytorch3d
	url = https://github.com/facebookresearch/pytorch3d.git
[submodule "paper/RoboPrompt"]
	path = paper/RoboPrompt
	url = https://github.com/AlvinWen428/RoboPrompt.git
